just_scripts/output/rechunk/
just_scripts/output/airgap/
just_scripts/output/centos-install-root/
installer/pxe-boot/httpd/content/ostree/repo/
installer/pxe-boot/registry/data/
installer/pxe-boot/httpd/
