PXE_SERVER_IP=192.168.100.2
DHCP_RANGE=192.168.100.100,192.168.100.199,255.255.255.0,12h
DHCP_ROUTER=192.168.100.1
HTTP_PORT=8080
CENTOS_INSTALL_ROOT=http://mirror.stream.centos.org/10-stream/BaseOS/x86_64/os
OSTREE_REPO_URL=http://192.168.100.2:8080/ostree/repo
OSTREE_REMOTE=centos
OSTREE_OSNAME=centos
OSTREE_REF=centos-stream/10/x86_64/edge
